/* universal style */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&display=swap');
*{
    font-family: 'Mulish', sans-serif;
}
.title-color{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.title-color2{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.des-color{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}
.bc-color{
    border-radius: 8px;
    background: #FF5400;
    border: 0;
}
.btn-primary{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    padding: 14px 30px;
    border: 0;
}
/*  */
header, main{
    max-width: 1176px;
    margin: 10px auto;
}
/* header style */
.header{
    margin-top: 50px;
    margin-bottom: 100px;
}
.header-container{
    display: flex;
    justify-items: flex-start;
    align-items: center;
    gap: 16px;
}
.header-img{
    max-width: 56px;
    max-height: 35px;
}
.header-title{
    margin: 0;
    font-size: 2.25rem;
    font-weight: 800;
}
/* banner style */
.banner{
    background-image: url('../images/Group13.png');
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 16px;
    margin-top: 50px;
}
.banner-title{
    margin: 0;
    padding-top: 100px;
    padding-bottom: 24px;
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}
.banner-des{
    margin: 0;
    padding-bottom: 48px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
}
.selector{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 8px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 0 210px;
}
#selector-item{
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 800;
    border-radius: 8px;
    padding: 14px 16px;
    border: 0;
}
.select-btn{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    padding: 14px 30px;
    border: 0;
}

.hidden{
    display: none;
}
/* popular-tours styles */
.popular-tours{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
}
.popular-tours-title{
    margin: 0;
    padding-bottom: 24px;
}
.popular-tours-des-header{
    margin: 0;
    padding-bottom: 24px;
}
.popular-tours-des-footer{
    margin: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}
.popular-tours-img{
    width: 60%;
}
.popular-tours-img img{
    height: 500px;
}
/* destination section styles */
.destination{
    margin-bottom: 100px;
}
.destination > h3, .destination > p{
    text-align: center;
}
.destination-img-container{
    width: 50%;
    align-items: center;
}
.destination-img-container1{
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    gap: 24px;
    padding-bottom: 24px;
}
.destination-img-container2{
    display: grid;
    grid-template-columns: repeat(3, .5fr);
    gap: 24px;
    padding-bottom: 24px;
}
.destination-img-container3{
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    gap: 24px;
}

/* why choose us section style */
.why-choose-us{
    width: 100%;
    margin-bottom: 100px;
}
.why-choose-us > h3, p{
    text-align: center;
}
.card-container{
    width: 100%;
    display: flex;
    gap: 24px;
    padding-bottom: 24px;
}
.card-container-box1{
    width: 574px;
    height: 300px;
    border-radius: 16px;
    border: 2px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}
.card-container-box2{
    width: 574px;
    height: 300px;
    border-radius: 16px;
    border: 2px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px;
}
.card-container-box3{
    margin: 0 auto;
    width: 574px;
    height: 300px;
    border-radius: 16px;
    border: 2px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 32px;
}
/* newsletter section style */
.newsletter{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.newsletter-input{
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 40%;
    padding: 40px;
}
.newsletter-input .title-color2{
    margin: 0;
}
.newsletter-input input{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding: 0 10px;
}
#text, #email{
    background: rgba(19, 19, 24, 0.05);
}
#subscribe{
    color: #FFF;
}
.newsletter-img{
    width: 60%;
}
.newsletter-img img{
    width: 100%;
    height: 475px;
}
/* footer style */
#footer{
    text-align: center;
    width: 100%;
    height: 300px;
    background-color: rgba(19, 19, 24, 0.05);
    padding-top: 100px;
}
.social-link img{
    width: 50px;
    height: 24px;
}
.footer-header{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}


/* media query styles for mobile */
@media screen and (max-width: 576px)
{
    .title-color{
        color: #131318;
        font-size: 1.75rem;
        font-weight: 800;
    }
    .title-color2{
        color: #131318;
        font-size: 1.25rem;
        font-weight: 600;
    }
    header, main{
        max-width: 576px;
        margin: 10px;
    }
    .header-title{
        font-size: 1.25rem;
    }
    .banner{
        width: 100%;
        height: 200px;
    }
    .banner-title{
        font-size: 2rem;
        padding-top: 20px;
        padding-bottom: 2px;
    }
    .banner-des{
        font-size: small;
        padding-bottom: 2px;
        margin: 0 20px;
    }
    .selector{
        gap: 8px;
        padding: 3px;
        border-radius: 4px;
        margin: 0 10px;
    }
    #selector-item{
        font-size: 0.65rem;
        font-weight: 400;
        width: 60px;
        height: 30px;
        padding: 0 4px;
    }
    .select-btn{
        color: #FFF;
        font-size: 1rem;
        font-weight: 400;
        border-radius: 6px;
        background: #FF5400;
        padding: 5px;
        border: 0;
    }
    .popular-tours, .card-container, .newsletter{
        flex-direction: column;
    }
    .popular-tours{
        width: 100%;
    }
    .popular-tours-des-footer{
        margin: 0;
        padding-top: 24px;
        padding-bottom: 24px;
        color: #5A5A5D;
        font-size: 1rem;
        font-weight: 400;
    }
    .popular-tours-img{
        width: 100%;
    }
    .popular-tours-img img{
        width: 100%;
        height: 250px;
    }
    .destination img{
        width: 100%;
        height: 235px;
    }
    .destination-img-container1,
    .destination-img-container2, .destination-img-container3{
        grid-template-columns: repeat(1, 1fr);
    }
    .why-choose-us{
        width: 100%;
    }
    .card-container{
        width: 100%;
    }
    .card-container-box1 img, .card-container-box2 img, 
    .card-container-box3 img {
        width: 40px;
        height: 40px;
    }
    .card-container-box1 .des-color, .card-container-box2 .des-color, 
    .card-container-box3 .des-color{
        text-align: start;
    }
    .card-container-box1, .card-container-box2, 
    .card-container-box3{
        margin: 0;
        padding: 10px;
        width: 95%;
        height: 235px;
        text-align: start;
    }
    .newsletter{
        width: 100%;
        justify-items: start;
        align-items: start;
        margin-bottom: 100px;
    }
    .newsletter-input{
        width: 90%;
        height: 275px;
        padding: 10px 12px;
    }
    .newsletter-input input{
        width: 90%;
        height: 40px;
        border-radius: 8px;
    }
    .newsletter-img{
        width: 100%;
    }
    .newsletter-img img{
        height: 250px;
    }
    #footer{
        width: 90%;
        height: 220px;
        padding: 20px;
    }
}